.home{
  background-color: #1e0040;
  color: #ffffff;
  /* margin: 0; */
  padding-top: 10px;
}

/* .color-home {
  color: #ffffff;
} */

/* .hide-container {
  filter: blur(10px);
  width: 90%;
  margin: 25px auto 10px auto;
  position: relative;
  height: 800px;
  overflow: hidden;
} */

.container {
  width: 90%;
  margin: 25px auto 10px auto;
  position: relative;
  height: 800px;
  overflow: hidden;
  /* background-color: rgb(6, 10, 65); */
}

.container > h1 {
  margin-top: 80px;
  line-height: 43px;
  font-size: 35px;
}

.container > h1 {
  text-align: center;
}

.container > p {
  text-align: center;
}

.container > p {
  font-size: 13px;
}

.container > p > span {
  font-weight: 700;
}

.date-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
  /* background-color: yellowgreen; */
  height: 140px;
  align-items: center;
}

.date-container > div {
  width: 24%;
  background-color: #ffffff;
  color: black;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.date-container > div > h3 {
  text-align: center;
  font-size: 43px;
  /* background-color: rgb(124, 121, 128); */
}

.date-container > div > p {
  text-align: center;
  font-size: 10px;
  /* background-color: rgb(58, 77, 22); */
  margin-top: -30px;
  padding-bottom: 10px;
}

.header-name {
  width: 40%;
  /* background-color: aquamarine; */
  margin-left: auto;
  margin-right: auto;
}

.container > form {
  /* background-color: black; */
  height: 150px;
  padding-bottom: 200px;
}

.container > form > fieldset {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.field-1 {
  width: 30%;
  margin-top: 27px;
  border: none;
}

.field-2 {
  width: 35%;
  margin-top: 10px;
  border: none;
  position: relative;
}

.submit {
  position: absolute;
  left: 253px;
  padding: 11px;
  border-radius: 50px;
  background-color: yellow;
  font-weight: 600;
  font-size: 13.1px;
}

.text {
  margin: 0 auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid whitesmoke;
  background-color: #1e0040;
  color: #ffffff;
  padding: 5px 0 5px 5px;
  font-size: 10px;
}

.email{
  height: 30px;
  padding: 20px 33px 20px 40px;
  margin-left: -120px;
  border-radius: 50px;
}

.footer {
  height: 600px;
  /* filter: blur(0.7px); */
  /* border: 1px solid white; */
  width: 80%;
  margin: 0 auto;
  border-radius: 75%;
  position: absolute;
  left: 120px;
}

.footer-shade {
  height: 600px;
  /* filter: blur(0.7px); */
  border: 1px solid white;
  /* width: 80%; */
  margin: 0 auto;
  border-radius: inherit;
  /* position: absolute; */
  /* left: 120px; */
  background-color: #4f4d4d;
  opacity: 0.4;
}

.footer > .footer-shade > p {
  font-size: 13px;
  text-align: center;
}

.footer > .footer-shade > ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 90px auto 0 auto;
  padding: 0 32px 0 0;
  list-style: none;
}

.footer > .footer-shade > ul > li > img {
  height: 130%;
  margin-bottom: 0;
  padding: 0;
}

.footer > .footer-shade > .first-p {
  width: 55%;
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: space-around;
  letter-spacing: 3px;
}

.footer > .footer-shade > .last-p {
  font-size: 12px;
}